<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
function check(){
pw=$("#pwd").val()
cpw=$("#cpwd").val()
if(pw===cpwd)
{
return true
}
else
return false
alert
}
</script> 
</head>
<body class=bg-success><br><br>
<div class="spinner-grow text-primary" role="status">
<span class="sr-only" >Loading...</span></div>
<div class="spinner-grow text-secondary" role="status">
<span class="sr-only" >Loading...</span></div>
<div class="spinner-grow text-danger" role="status">
<span class="sr-only" >Loading...</span></div>
<div class="container" style=" align:center; ">
<div class="panel-group" style="text-align:center;">
<div class="panel panel-info">
<div class="panel-heading">Register</div><br>
<form method=post action="changepassword" class="form-horizontal" onsubmit="return check()">
{% csrf_token %}

<div class="form-group">
<label class="control-label col-sm-2 text-primary" for="opwd" >Old Password </label>
<div class="col-sm-6">
<input type=password id=opwd name=opwd class=form-control required />
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2 text-primary" for="npwd" > New Password </label>
<div class="col-sm-6">
<input type=password id=npwd name=npwd class=form-control required />
</div>
</div>

<div class="form-group">
<label class="control-label col-sm-2 text-primary" for="cnpwd" > Confirm New Password</label>
<div class="col-sm-6">
<input type=password id=cnpwd name=cnpwd class=form-control required />
</div>
</div>



<div style="text-align:center;">
<button type=submit name=submit id=submit class="btn btn-info">Submit</button><br><br>
</div>
</div>
</form>
</div>
</div>
</body>
</html>