 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>
<body class=bg-success>
<div class="spinner-grow text-primary" role="status">
<span class="sr-only" >Loading...</span></div>
<div class="spinner-grow text-secondary" role="status">
<span class="sr-only" >Loading...</span></div>
<div class="spinner-grow text-danger" role="status">
<span class="sr-only" >Loading...</span></div>
<div class="jumbotron" style="text-align:center">
<h1> E-MAIL </h1>
</div>

<div class="navbar navbar-default">
<ul class="nav navbar-nav">
<li><a href="register" target="work"> Register </a></li>
<li><a href="login" target="work"> Login </a></li>
</ul>
</div>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" name="work"></iframe>
</div>
</body>
</html>

